<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="../public/css/frame.css"/>
    </head>
    <body>
        <div class="page-container">
            <header class="frame-header">
                <nav>
                    <ul>
                        <li><a href="/">首页</a></li>
                        <li><a href="/">归档</a></li>
                        <li><a href="/">关于</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <div class="article-list">

                </div>
            </main>
            <footer class="frame-footer">
                <div>© 2020 Bugong.</div>
            </footer>
        </div>
    </body>
</html>