* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font-family: Verdana, Candara, Arial, Helvetica, Microsoft YaHei, sans-serif;
    color: #000;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #368CCB;
}

.btn, button {
    cursor: pointer;
}

.tags {
    overflow: hidden;
}

.tag {
    cursor: pointer;
    padding: .3rem;
    border: .2rem solid #000;
    font-size: 1.3rem;
    margin-right: 1rem;
    float: left;
}

.tag.active {
    background: #000;
    color: #fff;
}

.page-container {
    margin: 0 auto;
    width: 98rem;
    padding: 1rem;
}

.page-title {
    margin: 0;
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
}

.frame-header {
    border-bottom: .2rem solid #000;
    height: 5.2rem;
    line-height: 5rem;
    font-size: 1.8rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.frame-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.frame-header .operate-box {
    display: flex;
    justify-content: right;
    align-items: center;
}

.frame-header .operate-box .username {
    margin-right: .5rem;
}

.frame-header li {
    display: inline;
    font-size: 2rem;
    padding: 0 2rem 0 .2rem;
}

.frame-footer {
    margin-top: 1.5rem;
    border-top: .2rem solid #000;
    height: 6.2rem;
    line-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.pagination {
    margin-top: 1.5rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.pagination .btn {
    border: .2rem solid #000;
    cursor: pointer;
    display: inline-block;
    min-width: 10rem;
    text-align: center;
    font-weight: bold;
    padding: 0 1rem;
    height: 5rem;
    line-height: 4.6rem;
    font-size: 1.6rem;
}

.article-list {

}

.article-list .item:first-child {
    margin-top: 1rem;
}

.article-list .item {
    margin-bottom: 1.5rem;
    border: .2rem solid #000;
    padding: 2rem 3rem;
}

.article-list .title-line {
    font-size: 3.2rem;
    font-family: Georgia, 'Times New Roman', Times, STKaiti, KaiTi, serif;
    font-weight: 500;
    line-height: 4.2rem;
}

.article-list .info-line {
    margin-top: 1rem;
}

.article-list .tags {
    overflow: hidden;
    padding: 0 .2rem;
}

.article-list .summary-line {
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.article {
    padding: 2rem 0 1rem;
}

.article .title {
    font-size: 3.2rem;
    font-family: Georgia, 'Times New Roman', Times, STKaiti, KaiTi, serif;
    font-weight: 500;
    line-height: 4.2rem;
}

.article .tags {
    margin-top: 1rem;
    overflow: hidden;
    padding: 0 .2rem;
}

.article .info {
    margin-top: 1rem;
    color: #738292;
    font-size: 1.4rem;
}

.article .info .item {
    margin-right: 1rem;
}

.article .content {
    margin-top: 2rem;
}

.error-box {
    width: 100%;
    padding: 20rem 0;
    text-align: center;
}

.error-box .status {
    font-size: 4.4rem;
    font-weight: bold;
}

.error-box .error-info {
    margin-top: 2rem;
}

.form-container {
    padding: 2rem 0;
}

.field-line {
    padding: 1rem 0;
}

.field-line label {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.field-line input, .field-line textarea {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
}

.field-line select {
    padding: .5rem 1rem;
    width: 15rem;
}

.btn-line {
    text-align: center;
}

.btn-line button {
    padding: .5rem 2rem;
    margin-right: 2rem;
}
