{{template "common/head" .}}
<div class="page-container">
    <header class="frame-header">
        <nav>
            <ul>
                <li><a href="/">Bugong</a></li>
                <li><a href="/">文章</a></li>
                <li><a href="/">说说</a></li>
                <li><a href="/">归档</a></li>
                <li><a href="/">关于</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article class="article">
            <h2 class="title">{{.title}}</h2>
            <div class="tags">
                {{ range .tags }}
                    <a class="tag" href="{{.ID}}">{{.Name}}</a>
                {{end}}
            </div>
            <div class="info">
                <span class="item"><label>创建时间：</label>{{.createdAt}}</span>
                <span class="item"><label>修改时间：</label>{{.updatedAt}}</span>
            </div>
            <div class="content">
                {{.content}}
            </div>
        </article>
    </main>
    <footer class="frame-footer">
        <div>© 2020 Bugong.</div>
    </footer>
</div>
{{template "common/foot" .}}
