{{template "common/head" .}}
<div class="page-container">
    {{template "common/nav" .}}
    <main>
        <article class="article">
            <h2 class="title">{{.title}}</h2>
            <div class="tags">
                {{ range .tags }}
                    <a class="tag" href="/tag/{{.ID}}">{{.Name}}</a>
                {{end}}
            </div>
            <div class="info">
                <span class="item"><label>创建时间：</label>{{formatDatetime .createdAt}}</span>
                <span class="item"><label>修改时间：</label>{{formatDatetime .updatedAt}}</span>
            </div>
            <div class="content markdown-body">
                {{.content}}
            </div>
        </article>
    </main>
    <footer class="frame-footer">
        <div>© 2020 Bugong.</div>
    </footer>
</div>
<script type="text/javascript">
    const articleId = '{{.id}}';

    document.addEventListener('DOMContentLoaded', () => {
        const $btnDeleteArticle = document.getElementById('btn-delete-article');

        $btnDeleteArticle && $btnDeleteArticle.addEventListener('click', (e) => {

            if (confirm('你确定要删除？') && articleId) {
                axios.delete('/article/' + articleId, {
                    withCredentials: true
                })
                    .then(() => {
                        window.location.href = '/';
                    })
                    .catch((err) => {
                        alert(err);
                    });
            }
        }, false);

        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
        });
    }, false);
</script>
{{template "common/foot" .}}
