{{template "common/head" .}}
<div class="page-container">
    {{template "common/nav" .}}
    <main>
        <div class="form-container">
            <div class="field-line">
                <label>标题：</label>
                <div>
                    <input type="text" name="title"/>
                </div>
            </div>
            <div class="field-line">
                <label>简介：</label>
                <div>
                    <input type="text" name="summary"/>
                </div>
            </div>
            <div class="field-line">
                <label>标签：</label>
                <div class="tags" id="tags-selector">
                    {{ range .tags }}
                        <span class="tag" data-id="{{.ID}}">{{.Name}}</span>
                    {{end}}
                </div>
            </div>
            <div class="field-line">
                <label>内容：</label>
                <div>
                    <textarea name="content" id="content"></textarea>
                </div>
            </div>
            <div class="btn-line">
                <button id="btn-submit">提交</button>
            </div>
        </div>
    </main>
    <footer class="frame-footer">
        <div>© 2020 Bugong.</div>
    </footer>
</div>
<script type="text/javascript">
    let editor = null;
    document.addEventListener('DOMContentLoaded', () => {
        const $tagsSelector = document.getElementById('tags-selector');
        const $btnSubmit = document.getElementById('btn-submit');

        editor = new SimpleMDE({
            element: document.getElementById('content')
        });

        $tagsSelector.addEventListener('click', (e) => {
            let node = e.target;
            let classList = Array.from(node.classList);

            if (classList.includes('tag')) {
                if (classList.includes('active')) {
                    node.className = 'tag';
                } else {
                    node.className = 'tag active';
                }
            }
        })

        $btnSubmit.addEventListener('click', () => {
            const params = getParams();

            axios.post('/article', params, {
                withCredentials: true
            })
                .then((res) => {
                    window.location.href = `/article/${res.data.data}`;
                })
                .catch((err) => {
                    console.log(err);
                });
        }, false);
    }, false);

    function getParams() {
        const inputs = document.querySelectorAll('input');
        let result = {};

        inputs.forEach((item) => {
            result[item.name] = item.value;
        });

        result.content = editor.value();
        result.tags = getMultiSelectValue();

        return result;
    }

    function getMultiSelectValue() {
        const list = [];
        const elems = document.querySelectorAll('#tags-selector .tag.active');

        elems && Array.from(elems).forEach((item, index) => {
            list.push(item.dataset.id);
        });

        return list;
    }
</script>
{{template "common/foot" .}}
