{{template "common/head" .}}
<div class="page-container">
    <header class="frame-header">
        <nav>
            <ul>
                <li><a href="/">Bugong</a></li>
                <li><a href="/">文章</a></li>
                <li><a href="/">说说</a></li>
                <li><a href="/">归档</a></li>
                <li><a href="/">关于</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <div>
                标题：
            </div>
            <input type="text" name="title"/>
        </div>
        <div>
            <div>
                简介：
            </div>
            <input type="text" name="summary"/>
        </div>
        <div>
            <div>
                标签：
            </div>
            <input type="text" name="tags"/>
        </div>
        <div>
            <div>内容：</div>
            <textarea name="content"></textarea>
        </div>
        <div>
            <button id="btn-submit">提交</button>
        </div>
    </main>
    <footer class="frame-footer">
        <div>© 2020 Bugong.</div>
    </footer>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const btnSubmit = document.getElementById('btn-submit');

        btnSubmit.addEventListener('click', () => {
            const params = getParams();

            axios.post('/article', params)
                .then((res) => {
                    console.log(res);
                })
                .catch((err) => {
                    console.log(err);
                });
        }, false);
    }, false);

    function getParams() {
        const inputs = document.querySelectorAll('input');
        const textareas = document.querySelectorAll('textarea');
        const items = [...inputs, ...textareas];
        let result = {};

        items.forEach((item) => {
            result[item.name] = item.value;
        });

        return result;
    }
</script>
{{template "common/foot" .}}
