{{template "common/head" .}}
<div class="page-container">
    <header class="frame-header">
        <nav>
            <ul>
                <li><a href="/">Bugong</a></li>
                <li><a href="/">文章</a></li>
                <li><a href="/">说说</a></li>
                <li><a href="/">归档</a></li>
                <li><a href="/">关于</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <div class="field-line">
                <label>标题：</label>
                <div>
                    <input type="text" name="title"/>
                </div>
            </div>
            <div class="field-line">
                <label>简介：</label>
                <div>
                    <input type="text" name="summary"/>
                </div>
            </div>
            <div class="field-line">
                <label>标签：</label>
                <div>
                    <select id="tags" name="tags" multiple>
                        {{ range .tags }}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="field-line">
                <label>内容：</label>
                <div>
                    <textarea name="content" id="content"></textarea>
                </div>
            </div>
            <div class="btn-line">
                <button id="btn-submit">提交</button>
            </div>
        </div>
    </main>
    <footer class="frame-footer">
        <div>© 2020 Bugong.</div>
    </footer>
</div>
<script type="text/javascript">
    let editor = null;
    document.addEventListener('DOMContentLoaded', () => {
        const btnSubmit = document.getElementById('btn-submit');

        editor = new SimpleMDE({
            element: document.getElementById('content')
        });

        btnSubmit.addEventListener('click', () => {
            const params = getParams();

            axios.post('/article', params, {
                withCredentials: true
            })
                .then((res) => {
                    console.log(res);
                })
                .catch((err) => {
                    console.log(err);
                });
        }, false);
    }, false);

    function getParams() {
        const inputs = document.querySelectorAll('input');
        let result = {};

        inputs.forEach((item) => {
            result[item.name] = item.value;
        });

        result.content = editor.value();
        result.tags = getMultiSelectValue('tags');

        return result;
    }

    function getMultiSelectValue(id) {
        const list = [];
        const elem = document.getElementById(id);

        elem && Array.from(elem.options).forEach((item, index) => {
            if (item.selected) {
                list.push(item.value);
            }
        });

        return list;
    }
</script>
{{template "common/foot" .}}
