{{template "common/head" .}}
<div class="page-container">
    <h2 class="page-title">登录</h2>
    <main>
        <div class="form-container">
            <div class="field-line">
                <label>用户名：</label>
                <div>
                    <input type="text" name="username"/>
                </div>
            </div>
            <div class="field-line">
                <label>密码：</label>
                <div>
                    <input type="password" autocomplete="off" name="password"/>
                </div>
            </div>
            <div class="btn-line">
                <button id="btn-submit">登录</button>
            </div>
        </div>
    </main>
    <footer class="frame-footer">
        <div>© 2020 Bugong.</div>
    </footer>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const btnSubmit = document.getElementById('btn-submit');

        btnSubmit.addEventListener('click', () => {
            const params = getParams();

            axios.post('/login', params, {
                withCredentials: true,
            })
                .then((res) => {
                    const data = res.data;

                    if (data.success) {
                        window.location.href = "/";
                    } else if (data.message) {
                        alert(data.message);
                    }
                })
                .catch((err) => {
                    if (err && err.message) {
                        alert(err.message);
                    }
                });
        }, false);
    }, false);

    function getParams() {
        const inputs = document.querySelectorAll('input');
        let result = {};

        inputs.forEach((item) => {
            result[item.name] = item.value;
        });

        return result;
    }
</script>
{{template "common/foot" .}}
