{{template "common/head" .}}
<div class="page-container">
    <h2 class="page-title">注册</h2>
    <main>
        <div class="form-container login-box">
            <div class="field-line">
                <label>用户名：</label>
                <div>
                    <input type="text" name="username" />
                </div>
            </div>
            <div class="field-line">
                <label>密码：</label>
                <div>
                    <input type="password" autocomplete="off" name="password" />
                </div>
            </div>
            <div class="field-line">
                <label>手机：</label>
                <div>
                    <input type="text" name="phone" />
                </div>
            </div>
            <div class="field-line">
                <label>邮箱：</label>
                <div>
                    <input type="text" name="email" />
                </div>
            </div>
            <div class="btn-line">
                <button id="btn-submit">注册</button>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript">
    const btnSubmit = document.getElementById('btn-submit');
    const inputs = document.querySelectorAll('input');

    document.addEventListener('DOMContentLoaded', () => {
        btnSubmit.addEventListener('click', () => {
            const params = getParams();

            axios.post('/register', params, {
                withCredentials: true,
            })
                .then((res) => {
                    const data = res.data;

                    if (data.success) {
                        window.location.href = "/login";
                    } else if (data.message) {
                        alert(data.message);
                    }
                })
                .catch((err) => {
                    if (err && err.message) {
                        alert(err.message);
                    }
                });
        }, false);
    }, false);

    inputs.forEach((input) => {
        input.addEventListener('keyup', (e) => {
            if (e.keyCode === 13) {
                btnSubmit.click();
            }
        }, false);
    });

    function getParams() {
        let result = {};

        inputs.forEach((item) => {
            result[item.name] = item.value;
        });

        return result;
    }
</script>
{{template "common/foot" .}}