{{template "common/head" .}}
<div class="page-container">
    {{template "common/nav" .}}
    <main>
        <form class="search-line" action="/search" method="get">
            <input type="text" name="k" placeholder="请输入搜索关键字" value="{{.keywords}}" />
            <button type="submit">搜索</button>
        </form>
        <div class="list-title">搜索结果：</div>
        <div class="article-archive-list">
            {{range .articles}}
                <div class="item">
                    <div class="title">
                        <a href="/article/{{.ID}}">{{.Title}}</a>
                    </div>
                    <div class="datetime">
                       {{formatDatetime .CreatedAt}}
                    </div>
                </div>
            {{end}}
        </div>
    </main>
    <footer class="frame-footer">
        <div>© 2020 Bugong.</div>
    </footer>
</div>
{{template "common/foot" .}}
